*{
  padding: 0px auto;
  margin: 0px auto;
}


#header {
  width: inherit;
  font-family: Tahoma;
  height: 5rem;
  margin: 0rem 1.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(75, 45, 6);
  background-image: linear-gradient(rgb(152, 243, 99),rgb(70, 194, 70),rgb(53, 124, 45));
}


#header a {
  margin-right: 2rem;
  color: rgb(75, 45, 6);
  font-size: 1.5rem;
}


h1 {
  text-align: center;
  padding: 2rem;
}


#main_content {
  min-height: 40rem;
  font-family: Georgia;
  width: inherit;
  margin: 0rem 1.5rem;
  background: radial-gradient(rgb(241, 234, 162), rgb(245, 242, 226));
}


#events {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
}


#event {
  width: 14rem;
  text-align: center;
}


#event p {
  margin-bottom: 0.2rem;
}


footer {
  width: inherit;
  height: 5rem;
  margin: 0rem 1.5rem;
  color: rgb(75, 45, 6);
  background-image: linear-gradient(rgb(152, 243, 99),rgb(70, 194, 70),rgb(53, 124, 45));
}


footer p {
  float: right;
  padding-right: 2rem;
  font-family: 'Brush Script MT';
  font-style: oblique; 
  font-size: 4rem;
  color: rgb(75, 45, 6);
}